## Importing Libraries

In [1]:
import json
import requests
import pandas as pd
import numpy as np
import datetime as dt
from pandas.io.json import json_normalize
import mysql.connector
import sqlalchemy

## Reading in Q1 orders data from Namaste Tech Github

In [2]:
# raw Github url for orders.json 
orders_data_url = "https://raw.githubusercontent.com/namasteTechnologies/data-analyst-challenge/master/orders.json"
orders_data_resp = requests.get(orders_data_url)
orders_data = json.loads(orders_data_resp.text)
print(orders_data[0])

{'id': 8369263756632563, 'customer': {'id': 47178, 'name': 'William Doe', 'email': 'william.doe@gmail.com'}, 'total_price': 79.39, 'created_at': '2020-03-07T14:31:11Z', 'line_items': [{'id': 610448, 'product_id': 632910392, 'product_sku': 'PPLEPUNCH20-05', 'product_name': 'Purple Punch 2.0 Dried Flower', 'price': 29.4}, {'id': 997208, 'product_id': 278266679, 'product_sku': 'GPSTASH-01', 'product_name': "Grandpa's Stash Dried Flower", 'price': 49.99}]}

In [3]:
# converting the raw data to pandas dataframe
orders_df = pd.DataFrame(orders_data)

# changing the data type for created_at to datetime and id to str
orders_df['created_at'] = orders_df['created_at'].astype('datetime64[ns]')
orders_df['id'] = orders_df['id'].astype('str')

# exploding the list if dictionaries in line_items columns to create a separate row for each element in the list
orders_df=orders_df.explode("line_items").reset_index().drop(['index'], axis=1)

# function to convert the dictionaries in the columns to separate columns:
## the keys of the dictionaries will form the columns names and values to the keys will fill up the columns
## dict_column='a' is a random placeholder for string input
def dict_to_col(df, dict_column="a"):
    
    # getting the dictionary keys in a list
    cols = list(df[dict_column][0].keys())
    
    # renaming the columns to add the upper level column name a prefix
    renamed_cols = [dict_column+"_"+x for x in cols]
    
    # creating an empty dictionary with dictionary keys as the columns
    dict_df = pd.DataFrame(columns=cols)
    
    # iterating over the rows to assign values of the keys to their respective columns in the dataframe
    for i,r in df.iterrows():
        dict_values = r[dict_column]
        for x in cols:
            dict_df.loc[i,x]=dict_values[x]
    
    # renaming the columns as per the prefixed names, joining to the orginal dataframe and dropping the dictionary column
    dict_df.columns=renamed_cols
    df = pd.concat([df, dict_df], axis=1)
    df = df.drop([dict_column], axis=1)
    
    return df

# applying the function to the two columns
orders_df = dict_to_col(orders_df, dict_column="customer")
orders_df = dict_to_col(orders_df, dict_column="line_items")

# changing the data type for line_items_price to float
orders_df['line_items_price'] = orders_df['line_items_price'].astype('float64')

# renaming the order based columns
orders_df.rename(columns={'id':'order_id',
                          'created_at':'order_created_date',
                          'total_price':'total_order_price_USD'},
                 inplace=True)

print(orders_df.shape)
print(orders_df.dtypes)
orders_df.head(5)

(37, 11)
order_id                           object
total_order_price_USD             float64
order_created_date         datetime64[ns]
customer_id                        object
customer_name                      object
customer_email                     object
line_items_id                      object
line_items_product_id              object
line_items_product_sku             object
line_items_product_name            object
line_items_price                  float64
dtype: object

,order_id,total_order_price_USD,order_created_date,customer_id,customer_name,customer_email,line_items_id,line_items_product_id,line_items_product_sku,line_items_product_name,line_items_price
0,8369263756632563,79.39,2020-03-07 14:31:11,47178,William Doe,william.doe@gmail.com,610448,632910392,PPLEPUNCH20-05,Purple Punch 2.0 Dried Flower,29.40
1,8369263756632563,79.39,2020-03-07 14:31:11,47178,William Doe,william.doe@gmail.com,997208,278266679,GPSTASH-01,Grandpa's Stash Dried Flower,49.99
2,7262170348080494,86.98,2020-03-01 09:16:30,94720,Emile Tumson,emile.tumson@gmail.com,997208,278266679,GPSTASH-01,Grandpa's Stash Dried Flower,49.99
3,7262170348080494,86.98,2020-03-01 09:16:30,94720,Emile Tumson,emile.tumson@gmail.com,759658,573794972,SAGENSOUR-01,Sage N Sour Dried Flower,36.99
4,7722055557038194,36.99,2020-01-01 09:17:03,59933,Ethan Jones,ethan.jones@gmail.com,759658,573794972,SAGENSOUR-01,Sage N Sour Dried Flower,36.99

## Reading in exchange rates from https://exchangeratesapi.io/

In [4]:
forex_df = pd.DataFrame({"date":pd.date_range(start='2019-12-27', end='2020-03-31', freq='D')})

start_date = forex_df['date'].min().date().strftime("%Y-%m-%d")
end_date = forex_df['date'].max().date().strftime("%Y-%m-%d")

rates_data_url = "https://api.exchangeratesapi.io/history"
selection_data = {"start_at":start_date, "end_at":end_date, "base":"USD", "symbols":"USD,CAD"}
rates_data_resp = requests.get(rates_data_url, params=selection_data)
rates_df = pd.DataFrame(json.loads(rates_data_resp.text))

rates_df['USD_to_CAD_rate'] = rates_df['rates'].apply(lambda x: x['CAD'])
rates_df.reset_index(drop=False, inplace=True)
rates_df.rename(columns={'index':'date'}, inplace=True)
rates_df = rates_df[['date','USD_to_CAD_rate']]
rates_df['date'] = rates_df['date'].astype('datetime64[ns]')

forex_df = pd.merge(forex_df, rates_df, on='date', how='left')
forex_df.fillna(method='ffill', inplace=True)
forex_df.head()

        date  USD_to_CAD_rate
0 2019-12-27         1.308348
1 2019-12-28         1.308348
2 2019-12-29         1.308348
3 2019-12-30         1.306730
4 2019-12-31         1.299448

## Connect to MySQL Database

In [5]:
username = 'root'
userpassword = 'hello123'
host = '127.0.0.1:3306'
databasename_landing = 'landing_namaste_db'
databasename_data_model = 'data_model_db'
AllowUserVariables = True;

%load_ext sql

%sql mysql+mysqlconnector://root:hello123@127.0.0.1:3306/

In [6]:
## create data landing database landing_namaste_db
%sql CREATE DATABASE IF NOT EXISTS landing_namaste_db;

 * mysql+mysqlconnector://root:***@127.0.0.1:3306/
1 rows affected.

[]

## Persist the landed Orders and Forex data into MySQL database

In [7]:
# connect to the landing database
sqldb_conn = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.format(username, 
                                                                                      userpassword, 
                                                                                      host, 
                                                                                      databasename_landing), 
                                      echo=True)

# 'if_exists' parameter here is set as 'replace', but, 
## otherwise it should be set to 'append' to keep appending landed data into the database landing table
orders_df.to_sql(con=sqldb_conn, name='orders_table', if_exists='replace')
forex_df.to_sql(con=sqldb_conn, name='forex_rate_table', if_exists='replace')

2020-08-09 15:48:05,260 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-08-09 15:48:05,262 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:48:05,268 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-08-09 15:48:05,269 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:48:05,276 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-08-09 15:48:05,276 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:48:05,280 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-08-09 15:48:05,281 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:48:05,283 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-08-09 15:48:05,284 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:48:05,287 INFO sqlalchemy.engine.base.Engine DESCRIBE `orders_table`
2020-08-09 15:48:05,288 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:48:05,291 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-09 15:48:05,296 INFO sqlalchemy.engine.base.Engine
CREATE TABLE orders_table (
	`index` BIGINT,
	order_id TEXT,
	`total_order_price_USD` FLOAT(53),
	order_created_date DATETIME,
	customer_id BIGINT,
	customer_name TEXT,
	customer_email TEXT,
	line_items_id BIGINT,
	line_items_product_id BIGINT,
	line_items_product_sku TEXT,
	line_items_product_name TEXT,
	line_items_price FLOAT(53)
)


2020-08-09 15:48:05,297 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:48:05,355 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-09 15:48:05,357 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_orders_table_index ON orders_table (`index`)
2020-08-09 15:48:05,358 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:48:05,385 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-09 15:48:05,389 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-09 15:48:05,391 INFO sqlalchemy.engine.base.Engine INSERT INTO orders_table (`index`, order_id, `total_order_price_USD`, order_created_date, customer_id, customer_name, customer_email, line_items_id, line_items_product_id, line_items_product_sku, line_items_product_name, line_items_price) VALUES (%(index)s, %(order_id)s, %(total_order_price_USD)s, %(order_created_date)s, %(customer_id)s, %(customer_name)s, %(customer_email)s, %(line_items_id)s, %(line_items_product_id)s, %(line_items_product_sku)s, %(line_items_product_name)s, %(line_items_price)s)
2020-08-09 15:48:05,392 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'order_id': '8369263756632563', 'total_order_price_USD': 79.39, 'order_created_date': datetime.datetime(2020, 3, 7, 14, 31, 11), 'customer_id': 47178, 'customer_name': 'William Doe', 'customer_email': 'william.doe@gmail.com', 'line_items_id': 610448, 'line_items_product_id': 632910392, 'line_items_product_sku': 'PPLEPUNCH20-05', 'line_items_product_name': 'Purple Punch 2.0 Dried Flower', 'line_items_price': 29.4}, {'index': 1, 'order_id': '8369263756632563', 'total_order_price_USD': 79.39, 'order_created_date': datetime.datetime(2020, 3, 7, 14, 31, 11), 'customer_id': 47178, 'customer_name': 'William Doe', 'customer_email': 'william.doe@gmail.com', 'line_items_id': 997208, 'line_items_product_id': 278266679, 'line_items_product_sku': 'GPSTASH-01', 'line_items_product_name': "Grandpa's Stash Dried Flower", 'line_items_price': 49.99}, {'index': 2, 'order_id': '7262170348080494', 'total_order_price_USD': 86.98, 'order_created_date': datetime.datetime(2020, 3, 1, 9, 16, 30), 'customer_id': 94720, 'customer_name': 'Emile Tumson', 'customer_email': 'emile.tumson@gmail.com', 'line_items_id': 997208, 'line_items_product_id': 278266679, 'line_items_product_sku': 'GPSTASH-01', 'line_items_product_name': "Grandpa's Stash Dried Flower", 'line_items_price': 49.99}, {'index': 3, 'order_id': '7262170348080494', 'total_order_price_USD': 86.98, 'order_created_date': datetime.datetime(2020, 3, 1, 9, 16, 30), 'customer_id': 94720, 'customer_name': 'Emile Tumson', 'customer_email': 'emile.tumson@gmail.com', 'line_items_id': 759658, 'line_items_product_id': 573794972, 'line_items_product_sku': 'SAGENSOUR-01', 'line_items_product_name': 'Sage N Sour Dried Flower', 'line_items_price': 36.99}, {'index': 4, 'order_id': '7722055557038194', 'total_order_price_USD': 36.99, 'order_created_date': datetime.datetime(2020, 1, 1, 9, 17, 3), 'customer_id': 59933, 'customer_name': 'Ethan Jones', 'customer_email': 'ethan.jones@gmail.com', 'line_items_id': 759658, 'line_items_product_id': 573794972, 'line_items_product_sku': 'SAGENSOUR-01', 'line_items_product_name': 'Sage N Sour Dried Flower', 'line_items_price': 36.99}, {'index': 5, 'order_id': '4280852170163518', 'total_order_price_USD': 55.98, 'order_created_date': datetime.datetime(2020, 3, 10, 11, 59, 46), 'customer_id': 23955, 'customer_name': 'Daniel Smith', 'customer_email': 'daniel.smith@gmail.com', 'line_items_id': 317808, 'line_items_product_id': 477365777, 'line_items_product_sku': 'GOGPR-07', 'line_items_product_name': 'Glueberry OG Pre-Rolls', 'line_items_price': 5.99}, {'index': 6, 'order_id': '4280852170163518', 'total_order_price_USD': 55.98, 'order_created_date': datetime.datetime(2020, 3, 10, 11, 59, 46), 'customer_id': 23955, 'customer_name': 'Daniel Smith', 'customer_email': 'daniel.smith@gmail.com', 'line_items_id': 771854, 'line_items_product_id': 694165761, 'line_items_product_sku': 'HYBTINC-03', 'line_items_product_name': 'Hybrid Blend THC Tincture', 'line_items_price': 49.99}, {'index': 7, 'order_id': '5058732129957127', 'total_order_price_USD': 309.98, 'order_created_date': datetime.datetime(2020, 3, 15, 7, 27, 24), 'customer_id': 59933, 'customer_name': 'Ethan Jones', 'customer_email': 'ethan.jones@gmail.com', 'line_items_id': 604665, 'line_items_product_id': 510650809, 'line_items_product_sku': 'PAX-3', 'line_items_product_name': 'Pax 3 Vaporizer', 'line_items_price': 259.99}  ... displaying 10 of 37 total bound parameter sets ...  {'index': 35, 'order_id': '2212383088430312', 'total_order_price_USD': 142.96, 'order_created_date': datetime.datetime(2020, 1, 22, 21, 26, 52), 'customer_id': 59933, 'customer_name': 'Ethan Jones', 'customer_email': 'ethan.jones@gmail.com', 'line_items_id': 317808, 'line_items_product_id': 477365777, 'line_items_product_sku': 'GOGPR-07', 'line_items_product_name': 'Glueberry OG Pre-Rolls', 'line_items_price': 5.99}, {'index': 36, 'order_id': '2212383088430312', 'total_order_price_USD': 142.96, 'order_created_date': datetime.datetime(2020, 1, 22, 21, 26, 52), 'customer_id': 59933, 'customer_name': 'Ethan Jones', 'customer_email': 'ethan.jones@gmail.com', 'line_items_id': 771854, 'line_items_product_id': 694165761, 'line_items_product_sku': 'HYBTINC-03', 'line_items_product_name': 'Hybrid Blend THC Tincture', 'line_items_price': 49.99})
2020-08-09 15:48:05,401 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-09 15:48:05,408 INFO sqlalchemy.engine.base.Engine DESCRIBE `forex_rate_table`
2020-08-09 15:48:05,409 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:48:05,411 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-09 15:48:05,414 INFO sqlalchemy.engine.base.Engine
CREATE TABLE forex_rate_table (
	`index` BIGINT,
	date DATETIME,
	`USD_to_CAD_rate` FLOAT(53)
)


2020-08-09 15:48:05,416 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:48:05,451 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-09 15:48:05,453 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_forex_rate_table_index ON forex_rate_table (`index`)
2020-08-09 15:48:05,455 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:48:05,475 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-09 15:48:05,479 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-09 15:48:05,484 INFO sqlalchemy.engine.base.Engine INSERT INTO forex_rate_table (`index`, date, `USD_to_CAD_rate`) VALUES (%(index)s, %(date)s, %(USD_to_CAD_rate)s)
2020-08-09 15:48:05,485 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'date': datetime.datetime(2019, 12, 27, 0, 0), 'USD_to_CAD_rate': 1.3083475298}, {'index': 1, 'date': datetime.datetime(2019, 12, 28, 0, 0), 'USD_to_CAD_rate': 1.3083475298}, {'index': 2, 'date': datetime.datetime(2019, 12, 29, 0, 0), 'USD_to_CAD_rate': 1.3083475298}, {'index': 3, 'date': datetime.datetime(2019, 12, 30, 0, 0), 'USD_to_CAD_rate': 1.3067298239}, {'index': 4, 'date': datetime.datetime(2019, 12, 31, 0, 0), 'USD_to_CAD_rate': 1.299448104}, {'index': 5, 'date': datetime.datetime(2020, 1, 1, 0, 0), 'USD_to_CAD_rate': 1.299448104}, {'index': 6, 'date': datetime.datetime(2020, 1, 2, 0, 0), 'USD_to_CAD_rate': 1.299830251}, {'index': 7, 'date': datetime.datetime(2020, 1, 3, 0, 0), 'USD_to_CAD_rate': 1.2981968243}  ... displaying 10 of 96 total bound parameter sets ...  {'index': 94, 'date': datetime.datetime(2020, 3, 30, 0, 0), 'USD_to_CAD_rate': 1.4161682074}, {'index': 95, 'date': datetime.datetime(2020, 3, 31, 0, 0), 'USD_to_CAD_rate': 1.4254289887})
2020-08-09 15:48:05,495 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
%sql DESCRIBE landing_namaste_db.orders_table;

 * mysql+mysqlconnector://root:***@127.0.0.1:3306/
12 rows affected.

[('index', 'bigint(20)', 'YES', 'MUL', None, ''),
 ('order_id', 'text', 'YES', '', None, ''),
 ('total_order_price_USD', 'double', 'YES', '', None, ''),
 ('order_created_date', 'datetime', 'YES', '', None, ''),
 ('customer_id', 'bigint(20)', 'YES', '', None, ''),
 ('customer_name', 'text', 'YES', '', None, ''),
 ('customer_email', 'text', 'YES', '', None, ''),
 ('line_items_id', 'bigint(20)', 'YES', '', None, ''),
 ('line_items_product_id', 'bigint(20)', 'YES', '', None, ''),
 ('line_items_product_sku', 'text', 'YES', '', None, ''),
 ('line_items_product_name', 'text', 'YES', '', None, ''),
 ('line_items_price', 'double', 'YES', '', None, '')]

In [9]:
%sql DESCRIBE landing_namaste_db.forex_rate_table;

 * mysql+mysqlconnector://root:***@127.0.0.1:3306/
3 rows affected.

[('index', 'bigint(20)', 'YES', 'MUL', None, ''),
 ('date', 'datetime', 'YES', '', None, ''),
 ('USD_to_CAD_rate', 'double', 'YES', '', None, '')]

### Creating the data model in database namaste_data_model

In [10]:
%%sql

# create the data model database data_model_db
CREATE DATABASE IF NOT EXISTS data_model_db;

# create all the tables of the data model
CREATE TABLE IF NOT EXISTS data_model_db.rates_table(
    date DATE PRIMARY KEY,
    USD_to_CAD_rate DOUBLE);

CREATE TABLE IF NOT EXISTS data_model_db.customers_table(
    customer_id BIGINT(20) PRIMARY KEY,
    customer_name TEXT,
    customer_email TEXT);

CREATE TABLE IF NOT EXISTS data_model_db.products_table(
    product_id BIGINT(20) PRIMARY KEY,
    product_sku TEXT,
    product_name TEXT);

CREATE TABLE IF NOT EXISTS data_model_db.orders_table(
    order_id BIGINT(20) PRIMARY KEY,
    order_created_date DATETIME,
    order_date DATE,
    total_order_price_USD DOUBLE,
    customer_id BIGINT(20),
    FOREIGN KEY (order_date)
        REFERENCES data_model_db.rates_table(date),
    FOREIGN KEY (customer_id)
        REFERENCES data_model_db.customers_table(customer_id)
    );

CREATE TABLE IF NOT EXISTS data_model_db.line_items_table(
    line_item_id BIGINT(20),
    line_item_price DOUBLE,
    product_id BIGINT(20),
    order_id BIGINT(20),
    FOREIGN KEY (product_id)
        REFERENCES data_model_db.products_table(product_id),
    FOREIGN KEY (order_id)
        REFERENCES data_model_db.orders_table(order_id)
    );

 * mysql+mysqlconnector://root:***@127.0.0.1:3306/
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [11]:
%%sql

## inserting the rates information into rates_table of the data model
INSERT IGNORE INTO 
    data_model_db.rates_table (date, USD_to_CAD_rate)
SELECT 
    CAST(date as DATE), 
    USD_to_CAD_rate
FROM 
    landing_namaste_db.forex_rate_table;

SELECT *
FROM data_model_db.rates_table
LIMIT 5;

 * mysql+mysqlconnector://root:***@127.0.0.1:3306/
96 rows affected.
5 rows affected.

[(datetime.date(2019, 12, 27), 1.3083475298),
 (datetime.date(2019, 12, 28), 1.3083475298),
 (datetime.date(2019, 12, 29), 1.3083475298),
 (datetime.date(2019, 12, 30), 1.3067298239),
 (datetime.date(2019, 12, 31), 1.299448104)]

In [12]:
%%sql

## inserting distinct customer information into customers_table of the data model
INSERT IGNORE INTO 
    data_model_db.customers_table (customer_id, customer_name, customer_email)
SELECT DISTINCT 
    customer_id, 
    customer_name, 
    customer_email
FROM 
    landing_namaste_db.orders_table;

SELECT * 
FROM data_model_db.customers_table;

 * mysql+mysqlconnector://root:***@127.0.0.1:3306/
4 rows affected.
4 rows affected.

[(23955, 'Daniel Smith', 'daniel.smith@gmail.com'),
 (47178, 'William Doe', 'william.doe@gmail.com'),
 (59933, 'Ethan Jones', 'ethan.jones@gmail.com'),
 (94720, 'Emile Tumson', 'emile.tumson@gmail.com')]

In [13]:
%%sql

## inserting distinct product information into products_table of the data model
INSERT IGNORE INTO 
    data_model_db.products_table (product_id, product_sku, product_name)
SELECT DISTINCT 
    line_items_product_id, 
    line_items_product_sku, 
    line_items_product_name
FROM 
    landing_namaste_db.orders_table;

SELECT * 
FROM data_model_db.products_table
LIMIT 5;

 * mysql+mysqlconnector://root:***@127.0.0.1:3306/
6 rows affected.
5 rows affected.

[(278266679, 'GPSTASH-01', "Grandpa's Stash Dried Flower"),
 (477365777, 'GOGPR-07', 'Glueberry OG Pre-Rolls'),
 (510650809, 'PAX-3', 'Pax 3 Vaporizer'),
 (573794972, 'SAGENSOUR-01', 'Sage N Sour Dried Flower'),
 (632910392, 'PPLEPUNCH20-05', 'Purple Punch 2.0 Dried Flower')]

In [14]:
%%sql

## inserting distinct order information into orders_table of the data model
INSERT IGNORE INTO 
    data_model_db.orders_table (order_id, order_created_date, order_date, total_order_price_USD, customer_id)
SELECT  
    order_id, 
    order_created_date,
    CAST(order_created_date as DATE),
    total_order_price_USD,
    customer_id
FROM 
    landing_namaste_db.orders_table;

SELECT * 
FROM data_model_db.orders_table
LIMIT 5;

 * mysql+mysqlconnector://root:***@127.0.0.1:3306/
20 rows affected.
5 rows affected.

[(1104846479586545, datetime.datetime(2020, 2, 22, 21, 44, 5), datetime.date(2020, 2, 22), 86.98, 94720),
 (1288301820842508, datetime.datetime(2020, 1, 19, 3, 53, 34), datetime.date(2020, 1, 19), 29.4, 23955),
 (2079640804901496, datetime.datetime(2020, 2, 19, 19, 33, 57), datetime.date(2020, 2, 19), 55.98, 23955),
 (2212383088430312, datetime.datetime(2020, 1, 22, 21, 26, 52), datetime.date(2020, 1, 22), 142.96, 59933),
 (2249838395290890, datetime.datetime(2020, 3, 13, 12, 15, 51), datetime.date(2020, 3, 13), 309.98, 47178)]

In [15]:
%%sql

## inserting all line items information into line_items_table of the data model
INSERT INTO 
    data_model_db.line_items_table (line_item_id ,line_item_price ,product_id, order_id)
SELECT  
    line_items_id, 
    line_items_price,
    line_items_product_id,
    order_id
FROM 
    landing_namaste_db.orders_table;

SELECT * 
FROM data_model_db.line_items_table
LIMIT 5;

 * mysql+mysqlconnector://root:***@127.0.0.1:3306/
37 rows affected.
5 rows affected.

[(610448, 29.4, 632910392, 8369263756632563),
 (997208, 49.99, 278266679, 8369263756632563),
 (997208, 49.99, 278266679, 7262170348080494),
 (759658, 36.99, 573794972, 7262170348080494),
 (759658, 36.99, 573794972, 7722055557038194)]

In [16]:
# connect to the data model database
sqldb_conn = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.format(username, 
                                                                                      userpassword, 
                                                                                      host, 
                                                                                      databasename_data_model), 
                                      echo=True)


# save the data model tables as json files
rates_table = pd.read_sql("SELECT * FROM rates_table",con=sqldb_conn)
rates_table.to_json(r'C:\Users\Surbhi.Gupta\Documents\GitHub\Namaste-Tech\Namaste-Tech\rates_table.json')

customers_table = pd.read_sql("SELECT * FROM customers_table",con=sqldb_conn)
customers_table.to_json(r'C:\Users\Surbhi.Gupta\Documents\GitHub\Namaste-Tech\Namaste-Tech\customers_table.json')

products_table = pd.read_sql("SELECT * FROM products_table",con=sqldb_conn)
products_table.to_json(r'C:\Users\Surbhi.Gupta\Documents\GitHub\Namaste-Tech\Namaste-Tech\products_table.json')

orders_table = pd.read_sql("SELECT * FROM orders_table",con=sqldb_conn)
orders_table.to_json(r'C:\Users\Surbhi.Gupta\Documents\GitHub\Namaste-Tech\Namaste-Tech\orders_table.json')

line_items_table = pd.read_sql("SELECT * FROM line_items_table",con=sqldb_conn)
line_items_table.to_json(r'C:\Users\Surbhi.Gupta\Documents\GitHub\Namaste-Tech\Namaste-Tech\line_items_table.json')

2020-08-09 15:55:10,262 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-08-09 15:55:10,263 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,269 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-08-09 15:55:10,270 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,276 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-08-09 15:55:10,277 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,280 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-08-09 15:55:10,281 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,284 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-08-09 15:55:10,285 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,287 INFO sqlalchemy.engine.base.Engine DESCRIBE `SELECT * FROM rates_table`
2020-08-09 15:55:10,289 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,292 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-09 15:55:10,295 INFO sqlalchemy.engine.base.Engine SELECT * FROM rates_table
2020-08-09 15:55:10,296 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,304 INFO sqlalchemy.engine.base.Engine DESCRIBE `SELECT * FROM customers_table`
2020-08-09 15:55:10,306 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,308 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-09 15:55:10,310 INFO sqlalchemy.engine.base.Engine SELECT * FROM customers_table
2020-08-09 15:55:10,312 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,318 INFO sqlalchemy.engine.base.Engine DESCRIBE `SELECT * FROM products_table`
2020-08-09 15:55:10,319 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,321 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-09 15:55:10,323 INFO sqlalchemy.engine.base.Engine SELECT * FROM products_table
2020-08-09 15:55:10,324 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,332 INFO sqlalchemy.engine.base.Engine DESCRIBE `SELECT * FROM orders_table`
2020-08-09 15:55:10,333 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,335 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-09 15:55:10,337 INFO sqlalchemy.engine.base.Engine SELECT * FROM orders_table
2020-08-09 15:55:10,338 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,345 INFO sqlalchemy.engine.base.Engine DESCRIBE `SELECT * FROM line_items_table`
2020-08-09 15:55:10,346 INFO sqlalchemy.engine.base.Engine {}
2020-08-09 15:55:10,347 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-09 15:55:10,350 INFO sqlalchemy.engine.base.Engine SELECT * FROM line_items_table
2020-08-09 15:55:10,351 INFO sqlalchemy.engine.base.Engine {}